.accessibility-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.accessibility-button button {
  display: flex;
  align-items: center;
}

.accessibility-button button svg {
  margin-right: 8px;
}

.invert-colors {
  filter: invert(100%);
  background-color: black;
}

.black-and-white {
  filter: grayscale(100%);
}

.accessibility-button .reading-icon {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.accessibility-button .MuiButton-containedPrimary:hover {
  background-color: darkviolet !important;
}
