@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;
}
.container {
  width: 100%; /* הרחבת רוחב הקונטיינר */
  max-width: 600px; /* הגדלת הרוחב המקסימלי */
  margin: auto;
  padding: 50px; /* הגדלת הריווח הפנימי */
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.welcome {
  font-size: 30px; /* הגדלת גודל הגופן */
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px; /* הגדלת הרווחים בין השדות */
  margin-bottom: 30px;
}


.input-fields .MuiTextField-root, /* עבור TextField */
.input-fields .password {
  width: 95%; /* וודא ששני השדות יתפסו את כל הרוחב */
  border-radius: 10px;  border: 1px solid #ccc;
}
 .password {
  width: 100%; /* וודא ששני השדות יתפסו את כל הרוחב */
  border-radius: 10px;  border: 1px solid #ccc;
}

.spacing {
  font-size: 16px;
  text-align: right;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 25px;
}

.ghost-round {
  font-size: 20px; /* הגדלת גודל הטקסט בכפתור */
  padding: 18px 25px; /* הגדלת הריווח הפנימי בכפתור */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.ghost-round:hover {
  background-color: #0056b3;
}

.full-width {
  width: 100%;
}
