body{
  direction: rtl;
  text-align: right;
}
.main-nav{
  background-color: #a43f5d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;

}
.main-nav a{
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.main-nav a:hover, .main-nav a.active {
  transition: all 0.3s;
  background-color: #fff;
  color:black
}